<div class="main-div-home">
<mat-drawer-container class="example-container">

  <mat-drawer class="side-left" mode="side" opened>
    <mat-toolbar color="primary" >
        <span>{{this.Auth.user_name()}}</span>
    </mat-toolbar>
    <div class="form">
    <mat-form-field fxFill >
        <mat-label>Search</mat-label>
        <input matInput type="text" placeholder="Search here" name="Search">
    </mat-form-field>
    </div>
    <div class="div-all-people">
            <mat-list role="list">
            <mat-divider></mat-divider>
            <div *ngFor="let user of users_data">
                <mat-list-item class="name-title" (click)="TransferID(user)"  role="listitem">{{user.name}}</mat-list-item>
                <mat-divider></mat-divider>
            </div>
            </mat-list>
    </div>
    <mat-divider></mat-divider>
    <footer fxLayoutAlign="stretch" fxLayout="column" class="footer">
      <button mat-raised-button (click)="takeTheWhoreOut()"  color="primary">Logout</button>
    </footer>
  </mat-drawer>

  <mat-drawer-content class="side-right">
    <mat-toolbar color="primary">
        <span>{{buddy_name}}</span>
    </mat-toolbar>

    <user-chat-space></user-chat-space>
    
  </mat-drawer-content>

</mat-drawer-container>
</div>
